/WebApplication1/nbproject/private/
/WebApplication1/build/
/WebApplication2/nbproject/private/
/WebApplication2/build/
/Lab1/nbproject/private/
/WebApplication3/nbproject/private/
/WebApplication3/build/
/WebApplication4/nbproject/private/
/WebApplication4/build/
/WebApplication3_c/nbproject/private/
/WebApplication3_c/build/
/WebApplication3_d/nbproject/private/
/WebApplication3_d/build/
/WebApplication4_a/nbproject/private/
/WebApplication4_a/build/
/WebApplication4_b/nbproject/private/
/WebApplication4_b/build/
/WebApplication4_c/nbproject/private/
/WebApplication4_c/build//Workshop2/build//WebApplication4_c/build/
/WebApplication4_c/build/
/WebApplication5_a/nbproject/private/
/WebApplication05_a/nbproject/private/
/WebApplication05_a/build/
/WebApplication_07-JSP_a/nbproject/private/
/WebApplication_07-JSP_a/build/
/WebApplication_07_b/nbproject/private/
/WebApplication_07_b/build/
/WebApplication_08/nbproject/private/
/WebApplication_08/build/
/WebApplication_09/nbproject/private/
/WebApplication_09/build/
/WebApplication_08_1/nbproject/private/
/WebApplication_08_1/build/
/WebApplication_10/nbproject/private/
/WebApplication_10/build/
/WebApplication_09_1/nbproject/private/
/WebApplication_09_1/build/
/WebApplication_11/nbproject/private/
/WebApplication_11/build/
/WebApplication_12/nbproject/private/
/WebApplication_12/build/
/WebApplication_13/nbproject/private/
/WebApplication_13_1/nbproject/private/
/WebApplication_13_1/build/
/Final_project/nbproject/private/
/Workshop1/nbproject/private/
/Workshop1/build/
/WebApplication_14/nbproject/private/
/WebApplication_14/build/
/Workshop/nbproject/private/
/Workshop/build/
/SE182624_Workshop1/nbproject/private/
/SE182624_Workshop1/build/
/WebApplication_15/nbproject/private/
/Workshop2/nbproject/private/
/Workshop2/build/